@import "compass/reset";
@import "compass/css3";
@import "leacocks/variables";

@mixin anchor-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/C6HYlRF50SGJq1XyXj04zxAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/q9w3H4aeBxj0hZ8Osfi3d752ooqJRs02xO3mONBoqeI.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/ppse0J9fKSaoxCIIJb33G7z7bF_NE717IFsea40dLmU.woff) format('woff');
}

#container {
  width: 915px;
  margin: 0 auto;
}

%josefin-sans {
  font-family: "Josefin Sans";
  font-weight: 700;
}

// eventually end up in leacocks-header mixin
header#main-header {
  display: block;
  float: left;
  width: 100%;
  height: 77px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px $LCRed solid;
  div {
    float: left;
    width: 100px;
    height: 77px;
    text-align: center;
    a {
      display: block;
      margin-top: 40px;
      color: $LCRed;
      font-size: 24px;
      font-family: "Josefin Sans";
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
    &#features-link {
      width: 170px;
      text-align: left;
    }
    &#about-us-link {
      width: 180px;
      text-align: left;
    }
    &#campuspot-link {
      width: 194px;
    }
    &#photos-link {
      width: 130px;
      text-align: right;
    }
    &#leacocks-logo {
      @include background(image-url("Leacocks-Inverse.png") no-repeat);
      width: 240px;
      height: 77px;
    }
  }
}
#landing {
  display: block;
  float: left;
  margin-top: 10px;
  section {
    float: left;
    header {
      display: block;
      @extend %josefin-sans;
      font-size: 24px;
      text-transform: uppercase;
      color: $LCRed;
    }
    img {
      float: left;
    }
    .caption {
      display: block;
      float: right;
      margin-top: 5px;
      font-size: 14px;
      @extend %josefin-sans;
      color: $LCRed;
      text-decoration: none;
      text-transform: uppercase;
      &:after {
        content: " >";
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #features {
    margin-bottom: 20px;
    > a {
      position: relative;
      > header {
        display: block;
        width: 345px;
        padding: 10px 0 5px 10px;
        background-color: white;
        opacity: 0.8;
        float: left;
        z-index: 10;
        position: absolute;
        top: 100px;
        color: lighten(black, 5%);
        font-style: italic;
        &#features-2-header {
          left: 12px;
          width: 330px;
        }
      }
    }
    #features-1 {
      margin-right: 12px;
    }
    #features-2 {
      margin-left: 12px;
    }
  }
  #campuspot { width: 293px; margin-right: 17px; }
  #photos { width: 295px; margin-right: 17px; }
  #sessions { width: 293px; }
}

footer {
  display: block;
  float: left;
  width: 100%;
  height: 105px;
  margin-top: 10px;
  padding: 10px 0px 0px 10px;
  background-color: $LCRed;
  @extend %josefin-sans;
  color: white;
  #twitter {
    float: left;
    width: 293px;
    margin-right: 17px;
    #twitter-title {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      @include anchor-hover;
    }
    #twitter-feed {
      margin-top: 10px;
      font-family: Merriweather;
      font-weight: lighter;
      font-size: 15px;
      line-height: 1.5;
      a {
        color: white;
        @include anchor-hover;
      }
    }
  }
  #facebook {
    float: left;
    width: 295px;
    margin-right: 17px;
    #facebook-title {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      @include anchor-hover;
    }
  }
  #get-involved {
    float: left;
    width: 275px;
    margin-right: 17px;
    #get-involved-title {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      @include anchor-hover;
    }
  }
}