@import "compass/reset";
@import "compass/css3";
@import "leacocks/variables";

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/C6HYlRF50SGJq1XyXj04zxAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/q9w3H4aeBxj0hZ8Osfi3d752ooqJRs02xO3mONBoqeI.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/ppse0J9fKSaoxCIIJb33G7z7bF_NE717IFsea40dLmU.woff) format('woff');
}

#container {
  width: 915px;
  margin: 0 auto;
}

%josefin-sans {
  font-family: "Josefin Sans";
  font-weight: 700;
}

// eventually end up in leacocks-header mixin
header#main-header {
  display: block;
  float: left;
  width: 100%;
  height: 77px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px $LCRed solid;
  div {
    float: left;
    width: 100px;
    height: 77px;
    text-align: center;
    a {
      display: block;
      margin-top: 40px;
      color: $LCRed;
      font-size: 24px;
      font-family: "Josefin Sans";
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
    &#features-link {
      width: 170px;
      text-align: left;
    }
    &#about-us-link {
      width: 180px;
      text-align: left;
    }
    &#campuspot-link {
      width: 194px;
    }
    &#photos-link {
      width: 130px;
      text-align: right;
    }
    &#leacocks-logo {
      @include background(image-url("Leacocks-Inverse.png") no-repeat);
      width: 240px;
      height: 77px;
    }
  }
}
#landing {
  display: block;
  float: left;
  margin-top: 5px;
  section {
    float: left;
    header {
      display: block;
      @extend %josefin-sans;
      font-size: 24px;
      text-transform: uppercase;
      color: $LCRed;
    }
    img {
      float: left;
    }
    .caption {
      display: block;
      float: right;
      margin-top: 5px;
      @extend %josefin-sans;
      color: $LCRed;
      text-decoration: none;
      text-transform: uppercase;
      &:after {
        content: " >";
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #features {
    margin-bottom: 20px;
    #features-1 {
      margin-right: 12px;
    }
    #features-2 {
      margin-left: 12px;
    }
  }
  #campuspot, #photos {
    img {
      margin-right: 17px;
    }
  }
}