html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/C6HYlRF50SGJq1XyXj04zxAPw1J91axKNXP_-QX9CC8.woff) format("woff"); }

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Josefin Sans Italic"), local("JosefinSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/q9w3H4aeBxj0hZ8Osfi3d752ooqJRs02xO3mONBoqeI.woff) format("woff"); }

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Josefin Sans Bold Italic"), local("JosefinSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/ppse0J9fKSaoxCIIJb33G7z7bF_NE717IFsea40dLmU.woff) format("woff"); }

#container {
  width: 915px;
  margin: 0 auto; }

#landing section header, #landing section .caption, footer {
  font-family: "Josefin Sans";
  font-weight: 700; }

header#main-header {
  display: block;
  float: left;
  width: 100%;
  height: 77px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px #d90000 solid; }
  header#main-header div {
    float: left;
    width: 100px;
    height: 77px;
    text-align: center; }
    header#main-header div a {
      display: block;
      margin-top: 40px;
      color: #d90000;
      font-size: 24px;
      font-family: "Josefin Sans";
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase; }
      header#main-header div a:hover {
        text-decoration: underline; }
    header#main-header div#features-link {
      width: 170px;
      text-align: left; }
    header#main-header div#about-us-link {
      width: 180px;
      text-align: left; }
    header#main-header div#campuspot-link {
      width: 194px; }
    header#main-header div#photos-link {
      width: 130px;
      text-align: right; }
    header#main-header div#leacocks-logo {
      background: url('../front-page/Leacocks-Inverse.png?1344916653') no-repeat;
      width: 240px;
      height: 77px; }

#landing {
  display: block;
  float: left;
  margin-top: 10px; }
  #landing section {
    float: left; }
    #landing section header {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
      color: #d90000; }
    #landing section img {
      float: left; }
    #landing section .caption {
      display: block;
      float: right;
      margin-top: 5px;
      font-size: 14px;
      color: #d90000;
      text-decoration: none;
      text-transform: uppercase; }
      #landing section .caption:after {
        content: " >"; }
      #landing section .caption:hover {
        text-decoration: underline; }
  #landing #features {
    margin-bottom: 20px; }
    #landing #features > a {
      position: relative; }
      #landing #features > a > header {
        display: block;
        width: 440px;
        padding: 10px 0;
        background-color: white;
        opacity: 0.8;
        float: left;
        z-index: 10;
        position: absolute;
        top: 100px; }
    #landing #features #features-1 {
      margin-right: 12px; }
    #landing #features #features-2 {
      margin-left: 12px; }
  #landing #campuspot {
    width: 293px;
    margin-right: 17px; }
  #landing #photos {
    width: 295px;
    margin-right: 17px; }
  #landing #sessions {
    width: 293px; }

footer {
  display: block;
  float: left;
  width: 100%;
  height: 105px;
  margin-top: 10px;
  padding: 10px 0px 0px 10px;
  background-color: #d90000;
  color: white; }
  footer #twitter {
    float: left;
    width: 293px;
    margin-right: 17px; }
    footer #twitter #twitter-title {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      text-decoration: none; }
      footer #twitter #twitter-title:hover {
        text-decoration: underline; }
    footer #twitter #twitter-feed {
      margin-top: 10px;
      font-family: Merriweather;
      font-weight: lighter;
      font-size: 15px;
      line-height: 1.5; }
      footer #twitter #twitter-feed a {
        color: white;
        text-decoration: none; }
        footer #twitter #twitter-feed a:hover {
          text-decoration: underline; }
  footer #facebook {
    float: left;
    width: 295px;
    margin-right: 17px; }
    footer #facebook #facebook-title {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      text-decoration: none; }
      footer #facebook #facebook-title:hover {
        text-decoration: underline; }
